<%= form_for party do |f| %>
	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: "form-control" %>
	</div>

	<%= f.hidden_field :user_id, :value => user.id %>

	<%= f.submit 'Create Party', class: "btn btn-success" %>
<% end %>
	
