<input type="hidden" id="party" value="<%= @party.id %>">

<div class="row">
	<div class="col-md-5">
		<h2>Play your party: <%= @party.name %></h2>

		<div id="player-error" class="error <%= (@votes.present?) ? 'hide' : '' %>">
			<p class="lead">
				<% if @party.plays.present? %>
					Your music has not been voted yet
				<% else %>
					You has not any music
				<% end %>
			</p>
		</div>

		<div id="audio-player" class="<%= (@votes.blank?) ? 'hide' : '' %>">
			<h4 id="current-song-data"></h4>
			<audio src="" controls id="song-player"></audio>
		</div>

		<h3>Add songs to your party</h3>
		<div class="form-group">
			<%= label_tag :search %>
			<%= search_field_tag :search, nil, 
				class: "form-control beutiful-text-input" %>
		</div>
	</div>

	<div class="col-md-offset-1 col-md-5">
		<p class="lead">Party requests</p>
		<ul class="list-unstyled small-scroll-box" id="parties-request-list"></ul>
	</div>
</div>
		

<p><strong>OR:</strong> <a href="#" id="upload-track">Upload your tracks</a></p>

<div class="row">
	<div class="col-md-5">
		<p class="lead">Searched Songs</p>
		<ul class="list-unstyled small-scroll-box" id="new-songs-list"></ul>
	</div>

	<div class="col-md-offset-1 col-md-5">
		<p class="lead">Your current Songs</p>
		<ul class="list-unstyled small-scroll-box" id="current-songs-list"></ul>
	</div>
</div>

<%= render partial: 'tracks/track_form_modal', locals: { track: @track,
	party: @party } %>


<!-- JavaScript files -->
<%= javascript_include_tag 'tracks_model' %>
<%= javascript_include_tag 'searcher' %>
<%= javascript_include_tag 'amplitude.min' %>

<script id="button-generator" type="text/x-handlebars-template">
	<%= render partial: 'parties/button_generator' %>
</script>

<%= javascript_include_tag 'tracks_controller' %>

