<h2>You are in the party <%= @party.name %></h2>

<input type="hidden" id="party" value="<%= @party.id %>">
<input type="hidden" id="user" value="<%= current_user.id %>">

<p class="lead">Vote the next song to sound</p>
<div class="row">
	<div class="col-md-12">
		<dl id="next-songs-list" class="graphic-list simple-box"></dl>
	</div>
</div>

<!-- JavaScript files -->

<%= javascript_include_tag 'vote_model' %>
<%= javascript_include_tag 'searcher' %>
<script id="button-generator" type="text/x-handlebars-template">
	<%= render partial: 'next_tracks_items' %>
</script>

<%= javascript_include_tag 'vote_controller' %>
