<!DOCTYPE html>
<html>
<head>
  <title>NextSong</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'handlebars-v3.0.3', 
		'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>

<body class="outer-background">
	<div class="bright-background">
		<div class="container inner-background full-background">

			<div class="row">
				<header>
					<div class="col-md-12 text-center">
						<h1>NEXT SONG</h1>
					</div>
	
					<div class="col-md-offset-1 col-md-10 navigation-box">
						<nav id="top-bar">
	
							<ul class="list-unstyled list-inline">
								<li>
									<%= link_to 'Profile', profile_path %>
								</li>
	
								<li>
									<%= link_to 'Sign Out', destroy_user_session_path,
									 	method: 'DELETE' %>
								</li>
							</ul>
	
						</nav>
					</div>
				</header>
			</div>
	
			<div class="row">
				<div class="col-md-offset-1 col-md-10">
	
					<%= yield %>
			
				</div>
			</div>
		</div>
	</div>
</body>
</html>
